body {
  font-family: Libre Caslon Text;
  background-color: #FFAB91;
}

/*three line menu*/
.hamburger-icon {
  z-index: 3;
  margin-top: 5%;
  margin-left: -7%;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 1px;
  width: 20px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

.menu-container {
    width: 100%;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: black;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: translate(0%, -90%) rotate(45deg);
  background-color: black;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: white;
  position: fixed;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 350px;
  height: 650px;
  transition: 0.6s ease-in-out;
  border: 1px solid black;
  z-index: 1;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 10%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
  list-style: none;
}

.menu-pane li {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 130px;
  font-size: 1em;
  font-weight: bold;
}


.menu-links li a {
  text-decoration: none;
  border: none;
  color: black;
}

.menu-pane li {
  padding-bottom: 5px;
  font-size: 1em;
  margin-left: 130px;
  padding-top: 10px;
  font-weight: bold;
}

.menu-links li:hover a {
  color: #FFAB91;
}


input.hamburger-checkbox {
  z-index: 3;
  left: 5vw;
  opacity: 0;
  height: 6vh;
  position: absolute;
  top: 5vh;
  width: 10vw;
}

/*search bar*/
.search {
    margin-top: 1.3%;
    transform: translate(-50%,-50%);
    width: 1.302%;
    height: 3.050%;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    margin-left: -3%;
    transition: width 0.5s;
}

.search.active {
    width: 9.766%;
}

.search input {
    top: 2px;
    width: calc(100% - 45px);
    border: none;
    font-size: 10px;
    padding: 0 10px;
    color: #666;
    position: absolute;
    left: 10px;
    height: 30px;
    outline: none;
}

.icon1 {
    height:30px;
    top: 2px;
    right: -5px;
    transition: 0.5s;
    border-radius: 4px;
    width: 30px;
    position: absolute;
    cursor: pointer;
}

.search.active .icon1 {
    background-color: darkcyan;
}

.icon1:before {
    position: absolute;
    left: 5px;
    height: 12px;
    background: transparent;
    border-radius: 50%;
    transition: 0.5s;   
    content: '';
    top: 5px;
    width: 12px;
    border: 2px solid #262626;
}

.search.active .icon1:before {
    position: absolute;
    left: 6px;
    width: 9px;
    background: transparent;
    border-right: 2px solid #fff;
    transition: 0.5s;   
    content: '';
    top: 3.5px;
    height: 15px;
    border: none;
    border-radius: 0;	
    transform: rotate(45deg);
}

.icon1:after {
    left: 17px;
    border-left: 2px solid #262626;
    content: '';
    top: 12px;
    width: 9px;
    background: transparent;
    border-radius: 0;
    transition: 0.5s;   
    position: absolute;
    height: 9px;
    transform: rotate(-45deg);
}

.search.active .icon1:after {
    position: absolute;
    left: 6px;
    height: 15px;
    border: none;
    border-radius: 0;
    transform: rotate(-45deg);
    content: '';
    top: 10px;
    width: 9px;
    background: transparent;
   border-right: 2px solid #fff;
   transition: 0.5s;   
}

/*sports head*/
.sports_head {
    font-weight: 400; 
    margin-left: -65%;
    margin-top: 7%;
    font-size: 100%;
    font-family: helvetica;
    width: 100%;
}

/*logo*/
.logo {
    width: 60%;
    margin-left: -45%;
    margin-top: 7%;
}

/*subscribe button*/
.subscribe {
    text-align: center;
    max-height: 30px;
    border: none;
    margin-left: 50%;
    margin-top: 3%; 
    width: 100%;
    background-color: darkcyan;
    color: white;
    height: 4%;
    padding: 8px 28px;
    font-size: 60%;
}

/*login button*/
.login {
    max-height: 30px;
    margin-left: 58%;
    margin-top: 3%; 
    width: 60%;
    background-color: darkcyan;
    height: 4%;
    border: none;
    color: white;
    padding: 8px 28px;
    font-size: 60%;
}

/*horizontal line after menu part*/
.vl1 {
    border-bottom: 1px solid gray;
    width: 783%;
    margin-top: 6%;
    margin-left: -293%;
    box-shadow: 5px 1px 2px 1px lightgray; 
}

/*sports title*/
.sports_title {
    font-weight: 900;
    width: 80%;
    height:40px;
    margin-top: 2%;
    margin-left: 3%;
    font-family: helvetica;
    font-size: 180%;
}

/*horizontal line after sports title*/
.vl2 {
    border-bottom: 1px solid gray;
    width: 98%;
    margin-top: 0.1%;
    margin-left: 0%;
}

/*horizontal line after sports title bar*/
.vl3 {
    width: 98%;
    margin-top: 0.5%;
    border-bottom: 2px solid gray;
    margin-left: 0%;
}

/*football matches title*/
.football_matches {
    font-size: 55%;
    width: 40%;
    background-color: white;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.03em;
    margin-top: -40%;
    margin-left: 7%;
    text-size-adjust: 100%;
    font-family: helvetica;
    font-weight: 500;
    color: #000;
}

/*vertical line after previous title*/
.vl4 {
    border-left: 1px solid gray;
    height: 15px;
    margin-top: -5%;
    margin-left: 48%;
    width: 10%;
}

/*hockey title*/
.hockey {
    text-transform: uppercase;
    font: inherit;
    background-color: white;
    border: none;
    letter-spacing: 0.03em;
    margin-top: -40%;
    font-family: helvetica;
    margin-left: -59%;
    font-size: 55.1%;
    color: #000;
    width: 20%;
    font-weight: 500;
    text-size-adjust: 100.1%;
}

/*vertical line after previous title*/
.vl5 {
    border-left: 1px solid gray;
    height: 15px;
    margin-top: -5%;
    margin-left: -37%;
    width: 10%;
}

/*basketball title*/
.basketball {
    font-weight: 500;
    background-color: white;
    margin-top: -40%;
    cursor: pointer;
    margin-left: -140%;
    font-family: helvetica;
    font-size: 55%;
    color: #000;
    border: none;
    text-transform: uppercase;
    text-size-adjust: 100.1%;
    letter-spacing: 0.03em;
}

/*vertical line after previous title*/
.vl6 {
    border-left: 1px solid gray;
    height: 15px;
    margin-top: -5%;
    margin-left: -108%;
}

/*tennis title*/
.tennis {
    cursor: pointer;
    font-family: helvetica;
    background-color: white;
    border: none;
    letter-spacing: 0.03em;
    font: inherit;
    margin-top: -40%;
    font-weight: 500;
    margin-left: -212%;
    text-transform: uppercase;
    text-size-adjust: 100.1%;
    font-size: 55%;
    color: #000;
}

/*first sports news image*/
.sports1 {
    width: 90%;
    margin-top: 8%;
    margin-left: 4%;
}

/*first sports news head*/
.sports1head {
    font-size: 130%;
    margin-left: 4%;
    font-weight: bolder;
    margin-top: 4%;
    font-family: helvetica;
}

.sports1head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}


.sports1head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*second sports news image*/
.sports2 {
    width: 120%;
    margin-top: 12%;
    margin-left: 4%;
}

/*second sports news head*/
.sports2head {
    font-size: 130%;
    margin-left: 4%;
    font-weight: bolder; 
    margin-top: 6%;
    font-family: helvetica;
}

.sports2head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}


.sports2head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*vertical line between sports news and most popular news*/
.vl7 {
    border-left: 1px solid gray;
    height: 330px;
    margin-top: 20%;
    width: 100%;
    margin-left: 50%;
}

/*most popular news title*/
.mostpopular {
    font-weight: 600;
    width: 100%;
    margin-left: -20%;
    font-family: helvetica;
    font-size: 150%;
    margin-top: 10%;
     }

.mostpopular a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}


.mostpopular a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*first most popular news image*/
.sports3 {
    width: 80%;
    margin-left: -10%;
    margin-top: -12%;
}

/*first most popular news*/
.no1 {
    margin-left: -20%;
    margin-top: 8%;
    font-size: 130%;
}

/*first most popular news head*/
.sports3head {
    font-family: helvetica;
    font-size: 80%;
    margin-top: -16%;
    color: white;
    font-weight: 600;
    margin-left: -43%;
    text-align: center;
}

/*second most popular news*/
.no2 {
    margin-left: -20%;
    margin-top: 8%;
    font-size: 130%;
}

/*second most popular news head*/
.sports4head {
    font-family: helvetica;
    font-size: 100%;
    width: 100%;
    margin-top: -8%;
    font-weight: 600;
    margin-left: -10%;
}

.sports4head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}


.sports4head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*third most popular news*/
.no3 {
    margin-left: -20%;
    margin-top: 8%;
    font-size: 130%;
}

/*third most popular news head*/
.sports5head {
    font-weight: 600;
    width: 100%;
    margin-top: -8%;
    margin-left: -10%;
    font-family: helvetica;
    font-size: 100%;
}

.sports5head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}


.sports5head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*horizontal line between sports news and football news*/
.vl8 {
    border-bottom: 1px solid gray;
    margin-top: 2%;
    margin-left: 9%;
   width: 80%;
}

/*football news image slider*/
#slider {
    height: 500px;
    justify-content: center;
    margin-top: -2%;
    display: flex;
    align-items: center;
    margin-left: -4%;
}

.container2 {
    width: 1400px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

.controller {
    display: flex;
    justify-content: space-between;
}

#controls i {
    color: white;
    font-size: 1rem;
}

.previous, .next {
    padding: 2px;
    background-color: black;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 2px solid white;
    box-shadow: 0 0 5px #bbb;
}

.previous:hover, .next:hover{
    border: 3px solid gray;
}

.slide_img {
    width: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    justify-content: center;
    transition: 0.5s;
    height: 200px;
    display: flex;
    align-items: center;
}

.slide_img:hover {
    box-shadow: 0 0 0 200px black inset;
}

.slide_img a {
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}

.slide_img:hover a {
    transform: scale(1);
    opacity: 1;
}

.img_1 {
    background-image: url(sports_images/football1.jpg);
}

.img_2 {
    background-image: url(sports_images/football2.jpg);
}

.img_3 {
    background-image: url(sports_images/football3.jpg);
}

.img_4 {
    background-image: url(sports_images/football4.jpg);
}

.img_5 {
    background-image: url(sports_images/football5.jpg);
}


@media(max-width:1400px){
    .container2 {
        width: 100%;
    }
}

/*horizontal line between football news and basketball news*/
.vl9 {
    border-bottom: 1px solid gray;
    margin-top: -3%;
    margin-left: 9%;
    width: 80%;
}

/*basketball news image slider*/
#slider1 {
    height: 500px;
    display: flex;
    align-items: center;
    margin-left: -4%;
    justify-content: center;
    margin-top: -4%;
}

.container4 {
    width: 1400px;
    margin: auto;
}

.subcontainer1 {
    width: 85%;
    margin: auto;
}

.controller1 {
    display: flex;
    justify-content: space-between;
}

#controls1 i {
    color: white;
    font-size: 1rem;
}

.previous1, .next1 {
    padding: 2px;
    background-color: black;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 2px solid white;
    box-shadow: 0 0 5px #bbb;
}

.previous1:hover, .next1:hover{
    border: 3px solid gray;
}

.slide_img1 {
    width: 100%;
    background-position: center;
    cursor: pointer;
    justify-content: center;
    transition: 0.5s;
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.slide_img1:hover {
    box-shadow: 0 0 0 200px black inset;
}

.slide_img1 a {
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}

.slide_img1:hover a {
    opacity: 1;
    transform: scale(1);
}

.img_6 {
    background-image: url(sports_images/basketball1.jpg);
}

.img_7 {
    background-image: url(sports_images/basketball2.jpg);
}

.img_8 {
    background-image: url(sports_images/basketball3.webp);
}

.img_9 {
    background-image: url(sports_images/basketball4.jpg);
}

.img_10 {
    background-image: url(sports_images/basketball5.jpg);
}

@media(max-width:1400px){
    .container4 {
        width: 100%;
    }
}

/*horizontal line between basketball news and more news*/
.vl10 {
    border-bottom: 1px solid gray;
    margin-top: -3%;
    margin-left: 9%;
    width: 80%;
}

/*more news first image*/
.more1 {
    margin-left: 1%;
    margin-top: 6%;
    width: 25%;
}

/*more news first head*/
.more1head {
    margin-left: 30%;
    font-size: 130%;
    font-weight: bolder;
    margin-top: -14%;
    font-family: helvetica;
    
}

.more1head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}

.more1head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*more news first paragraph*/
.more1p {
    font-weight: 400;
    margin-left: 30%;
    margin-top: 2%;
    font-size: 80%;
    font-family: helvetica;
}

.more1p a:link {
    color: darkslategrey;
    text-decoration: inherit;
    background: none;
}


.more1p a:hover {
    background: none;
    text-decoration: inherit;
    color: blue;
}

/*more news second image*/
.more2 {
    margin-left: 1%;
    margin-top: 6%;
    width: 25%;
}

/*more news second head*/
.more2head {
    margin-left: 30%;
    font-size: 130%;
    font-weight: bolder;
    margin-top: -14%;
    font-family: helvetica;
}

.more2head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}


.more2head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*more news second paragraph*/
.more2p {
    font-weight: 400;
    margin-left: 30%;
    margin-top: 2%;
    font-size: 80%;
    font-family: helvetica;
}

.more2p a:link {
    color: darkslategrey;
    text-decoration: inherit;
    background: none;
}


.more2p a:hover {
    background: none;
    text-decoration: inherit;
    color: blue;
}

/*more news third image*/
.more3 {
    margin-left: 1%;
    margin-top: 4%;
    width: 25%;
}

/*more news third head*/
.more3head {
    margin-left: 30%;
    font-size: 130%;
    font-weight: bolder;
    margin-top: -14%;
    font-family: helvetica;
}

.more3head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}

.more3head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*more news third paragraph*/
.more3p {
    font-weight: 400;
    margin-left: 30%;
    margin-top: 2%;
    font-size: 80%;
    font-family: helvetica;
}

.more3p a:link {
    color: darkslategrey;
    text-decoration: inherit;
    background: none;
}


.more3p a:hover {
    background: none;
    text-decoration: inherit;
    color: blue;
}

/*more news forth image*/
.more4 {
    margin-left: 1%;
    margin-top: 8%;
    width: 25%;
}

/*more news forth head*/
.more4head {
    margin-left: 30%;
    font-size: 130%;
    font-weight: bolder;
    margin-top: -14%;
    font-family: helvetica;
}

.more4head a:link {
    color: black;
    text-decoration: inherit;
    background: none;
}

.more4head a:hover {
    background: none;
    text-decoration: inherit;
    color: gray;
}

/*more news forth paragraph*/
.more4p {
    font-weight: 400;
    margin-left: 30%;
    margin-top: 2%;
    font-size: 80%;
    font-family: helvetica;
}

.more4p a:link {
    color: darkslategrey;
    text-decoration: inherit;
    background: none;
}

.more4p a:hover {
    background: none;
    text-decoration: inherit;
    color: blue;
}

/*next page button*/
.btn10 {
    cursor: pointer;
    font-size: 55.1%;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    width: 15.1%;
    padding: 14.1px 24.1px;
    margin-top: 10.1%;
    margin-left: 80.1%;
    text-size-adjust: 100.1%;
    font-family: helvetica;
    font-weight: 500;
    background-color: white;
    display: inline-block;
    color: #000;
    vertical-align: baseline;
}

/*vertical line between newsletter and more news*/
.vl22 {
    height: 95.1%;
    margin-top: 35.1%;
    border-left: 1px solid gray;
    margin-left: 60.1%;
}

/*newsletter*/
.newsletter {
    font-family: 'Muli', sans-serif;
    width: 25.1%;
    height: 270.1px;
    position: absolute;
    border-radius: 25.1px;
    margin-top: 8.1%;
    margin-left: -2.1%;
    align-items: center;
    text-align: center;
    box-shadow: 5.1px 0 5.1px 5.1px rgba(0, 0, 0, 0.1);
    padding: 30.1px;
    justify-content: center;
}

.newsletter h9 {
    margin: 10px 0 0;
    font-weight: bold;
}

.newsletter p2 {
	margin: 10.1px;
               color: #312940;
}

.form-control {
	margin: 30.1px 0.1 20.1px;
               position: relative;
}
.input2 {
	border: 0;
	border-radius: 50px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	display: block;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 42px;
	padding: 12px 25px;
	width: 100%;
}

.btn11 {
	background-color: #312940;
	border: 0;
	border-radius: 50px;
	color: #fff;
	font-size: 14px;
	height: 42px;
	padding: 12px 25px;
	position: absolute;
	margin-top: -14.3%;
	right: 0;
}

/*social media*/
ul1 {
  display: flex;
  transform: translate(-50%, -50%);
  margin-top: 138%;
  margin-left: 76%;
  width: 100%;
}

ul1 li {
  list-style: none;
}

ul1 li a {
  z-index: 1;
  height: 20.1px;
  text-align: center;
  font-size: 14.1px;
  width: 20.1px;
  display: block;
  background-color: #fff;
  position: relative;
  line-height: 80.1px;
  margin: 0 9.9px;
  border-radius: 49.9%;
  overflow: hidden;
  border: 3px solid #fff;
}

ul1 li a .icon {
  margin-left: -7.1px;
  transition: .5s;
  position: absolute;
  color: #262626;
  z-index: 3;
}

ul1 li a:hover .icon {
  transform: rotateY(360deg);
  color: #fff;
}

ul1 li a:before {
  position: absolute;
  height: 99.9%;
  left: 0;
  transition: .5s;
  content: "";
  top: 99.9%;
  width: 99.9%;
  background: #f00;
  z-index: 2;
}

ul1 li a:hover:before {
  top: 0;
}

ul1 li:nth-child(2) a:before{
  background: #55acee;
}

ul1 li:nth-child(1) a:before{
  background: #3b5999;
}

ul1 li:nth-child(4) a:before {
  background: #dd4b39;
}

ul1 li:nth-child(3) a:before {
  background: #0077b5;
}

/*help bar container*/
.container3 {
    margin-top: 7%;
}

/*first bar row*/
.firstbar {
    margin-top: 10%;
    background-color: lightsteelblue;
    width: 100.9%;
    margin-left: -1%;
}

.firstbar .privacy {
  margin-left: 7.5%;
  background-color: inherit;
  font-size: 10.1px;
  margin-top: 1.5%;
  border: none;
  cursor: pointer;
  padding: 14.1px 28.1px;
}

.firstbar .contactus {
  font-size: 10.1px;
  border: none;
  cursor: pointer;
  margin-left: -20.1%;
  background-color: inherit;
  width: 150.1%;
  padding: 14.1px 28.1px;
}

.firstbar .copyright {
  font-size: 10.1px;
  border: none;
  cursor: pointer;
  margin-left: -35.1%;
  background-color: inherit;
  width: 200.1%;
  padding: 14.1px 28.1px;
}

.firstbar .termsofuse {
  font-size: 10.1px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  width: 150.1%;
  padding: 14.1px 28.1px;
}

.firstbar .advertise {
  font-size: 10.1px;
  padding: 14.1px 28.1px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.firstbar .subscriptions {
  padding: 14.1px 28.1px;
  cursor: pointer;
  border: none;
  font-size: 10.1px;
  background-color: inherit;
}

.firstbar .workwithus {
  border: none;
  cursor: pointer;
  background-color: inherit;
  width: 150.1%;
  font-size: 10.1px;
  padding: 14.1px 28.1px;
}

.firstbar .aboutus {
  font-size: 10.1px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-left: 25.1%;
  padding: 14.1px 28.1px;
}

.firstbar .accessibility {
  font-size: 10.1px;
  padding: 14.1px 28.1px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.firstbar .subscriptions {
  padding: 14.1px 28.1px;
  background-color: inherit;
  cursor: pointer;
  font-size: 10.1px;
  border: none;
}

.firstbar .termsofsale {
  border: none;
  font-size: 10.1px;
  cursor: pointer;
  background-color: inherit;
  width: 150.1%;
  padding: 14.1px 28.1px;
  margin-left: 25.1%;
}

/*second bar row*/
.secondbar {
    margin-left: 0.1%;
    margin-top: -1%;
    background-color: lightsteelblue;
    width: 99.9%;
}

.secondbar .world1 {
  margin-left: -1.1%;
  font-size: 10.1px;
  margin-top: 1.1%;
  padding: 14.1px 28.1px;
  height: 80.1px;
  background-color: inherit;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.secondbar .politics1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .health1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .sports9 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .arts1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .science1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .realestate1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .travel1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .fashion {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .business1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .food1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .weather1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}
.secondbar .books1 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

.secondbar .technology3 {
  border: none;
  font-size: 10.1px;
  background-color: inherit;
  padding: 14.1px 28.1px;
  cursor: pointer;
  display: inline-block;
}

/*back to top button*/
.backtotop {
    border: 1px solid black;
    display: none;
    position: absolute;
    left: 47%;
    color: white;
    background-color: cadetblue;
    font-size: 120%;
    margin-top: 2%;
}

